{% extends 'base.html' %}

{% block content %}
<div class="row bg--dark-blue">
  <div class="col title">
    <h1 class="display-4  p-md-5 p-sm-3">Manufacturers</h1>
  </div>
</div>

<div class="row">
  <table class="table table-dark bg--dark-blue">
    <caption>List of manufacturers</caption>
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody class="infinite-container">
    {% for manufacturer in manufacturers %}

    <tr>
      <td scope="row">
        {{ manufacturer.name }}
      </td>
      <td scope="row" class="text-right">
        {% if perms.manufacturer.delete_manufacturer %}
        <a class="button button--sea" href="{% url 'manufacturer-update' manufacturer.pk %}">Update</a>
        <a class="button button--delete" href="{% url 'manufacturer-delete' manufacturer.pk %}">Delete</a>
      </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
