{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="row return__wrapper">

  <div class="return__form-wrapper">

  <div class="return__date-info">
    <h4 class="display-4 return__date-start">You've had this unit since {{ rental.requested }}</h4>
    <h5>That's {{ rental.requested|timesince:today }}!</h5>
  </div>

    <form class="return__form" method="post">
      {% csrf_token %}
      <div class="form-group product__input-wrapper">
      <h6>Which warehouse are you returning this to?</h6>
      {{ form.returned_to|as_crispy_field }}
      <h6>Notes</h6>
      {{ form.return_note|as_crispy_field }}
      </div>
      <div class="return__submit">
        <button type="submit" class="btn btn-primary return__button">Return</button>
      </div>
    </form>

  </div>

  <div class="return__info">

    <div class="card">
        {% if product.image %}
        <img class="product__img" src="{{ product.image.url }}">
        {% else %}
        <img class="card-img-top" src="https://via.placeholder.com/400x321" alt="Card image">
        {% endif %}
      <div class="card-body">
        <h4 class="card-title">{{ rental.product.manufacturer|title }} - {{ rental.product.human_readable_name }}</h4>
            <span class="product__id"><b>Model:</b> {{ rental.product.model_number }}</span>
            <span class="product__id"><b>Serial:</b> {{ rental.product.serial_number }} </span>
            <span class="product__id"><b>Serial:</b> {{ rental.product.serial_number }} </span>
            <p><b>Bin Location:</b> {{ rental.product.bin_location }}</p>
      </div>
    </div>


  </div>

</div>





{% endblock %}
