{% extends 'base.html' %}

{% block content %}

<div class="container">
<div class="row">

<div class="borrow__detail-container">

  <div class="borrow__form-wrapper">
    <form class="borrow__form" method="POST">
        {% csrf_token %}
        {{ form.non_field_errors }}

        {% for hidden_field in form.hidden_fields %}
          {{ hidden_field.errors }}
          {{ hidden_field }}
        {% endfor %}

        <h3 class="borrow__header">When will you return this unit?</h3>

        <div class="borrow__input-group">
          {{ form.rental_end.errors }}
           <input class="borrow__input" name="rental_end" type="date">
        </div>

        <div class="borrow__submit">
            <button class="fancy-button" type="submit" value="submit">Request Unit</button>
        </div>
      </form>
    </div>

    <div class="borrow__begin-date">
      <h4 class="borrow__header">Your rental will begin on:</h4>
      <span class="borrow__today">{% now 'm/d/Y' %}</span>
    </div>

</div>

<hr class="hr">

<div class="product">

  <div class="product__wrapper">

    <div class="product__img-wrapper">
      <img class="product__img" src="http://www.accontrols.com/assets/images/landings/STT850-Smartline-Transmitter-web.jpg">
    </div>


    <div class="product__details">
      <h4 class="product__title">{{ product.manufacturer|title }} - {{ product.human_readable_name }}</h4>
      <span class="product__id"><b>Model:</b> {{ product.model_number }}</span>
      <span class="product__id"><b>Serial:</b> {{ product.serial_number }} </span>


      <p><b>Bin Location:</b> {{ product.bin_location }}</p>

    </div>

    <div class="product__controls">

      <h4 class="product__status">{{ product.get_loan_status_display }}</h4>
      <p>Location - {{ product.warehouse }} Warehouse</p>

    </div>

  </div>

</div>


</div>
</div>


{% endblock %}
