{% extends 'base.html' %}

{% block content %}


<div class="container">
  <div class="row">

    {% include 'product/product_search.html' %}

    {% for product in products %}
      <div class="product">
        <a class="product__link" href="{{ product.get_absolute_url }}">
          <div class="product__wrapper">
            <img class="product__img" src="http://www.accontrols.com/assets/images/landings/STT850-Smartline-Transmitter-web.jpg">
            <div class="product__info">
              <h2 class="product__header">{{ product.manufacturer|title }} - {{ product.description }}</h2>
              <p>Model: {{ product.model_number }}</p>
              <p>Warehouse: {{ product.warehouse }}</p>
              <p>Bin Location: {{ product.bin_location }}</p>

              {% if product.borrower %}
              <p>Borrowed By: {{ product.borrower }}</p>
              {% endif %}
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
</div>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}
