{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
<div class="row py-5">
  <div class="col title">
    <h1 class="display-4">Your Name</h1>
    <h5 class="title__header--gold">We currently know you as {{ user.name }}</h5>
  </div>
</div>

<div class="row justify-content-md-center text-light">
    <div class="col-6">
      <form class="form-horizontal" method="post" action="{% url 'users:update' %}">
        {% csrf_token %}
        {{ form|crispy }}
      </form>

      <div class="text-center py-5">
        <button type="submit" class="button button--gold">Update</button>
      </div>
    </div>
</div>
{% endblock %}
