{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<!--BEGIN RENTAL FORM-->
<div class="row">
  <div class="col-md-6 col-sm-12 p-5 text-light">
    <h5>Select the date you will return the unit</h5>
    <form method="post">
      {% csrf_token %}
      <div class="form-group">
        <div class="input-group date" id="id_rental_end" data-target-input="nearest">
            {{ form.rental_end }}
          <div class="input-group-append datetimepicker-input" data-target="#id_rental_end" data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>

      {% if form.rental_end.errors %}
      <div>
        <p>{{ form.rental_end.errors.as_text }}</p>
      </div>
      {% endif %}
      <div class="text-center py-3">
        <button type="submit" class="button button--gold">Borrow</button>
      </div>
    </form>
  </div>



  <div class="col-md-6 col-sm-12 text-center p-5 text-light">
    <h4 class="display-4">Your Rental Will Begin:</h4>
    <h2 class="title__header--gold">
      {% now 'm/d/Y' %}
    </h2>
  </div>

</div>

<!--BEGIN PRODUCT DETAILS-->
<div class="row mt-5 product__wrapper">

  <div class="col-md-4 col-sm-12 product__image-wrapper">
    {% if product.image %}
    <img class="product__image" src="{{ product.image.url }}">
    {% else %}
    <img class="product__image" src="https://via.placeholder.com/400x321">
    {% endif %}
  </div>

  <div class="col-md-4 col-sm-12 product__details">
    <h5 class="display-4 product__header">{{ product.manufacturer|title }} - {{ product.human_readable_name|title }}</h5>
    <span class="product__id">Model: {{ product.model_number }}</span>
    <span class="product__id">Serial: {{ product.serial_number }} </span>
  </div>

  <div class="col-md-4 col-sm-12 product__controls px-3">
    <h5 class="product__status">{{ product.get_loan_status_display }}</h5>
    <p>Location - {{ product.warehouse }} Warehouse</p>
  </div>

</div>

<script>
  $(function () {
    $("#id_rental_end").datetimepicker({
      format: 'L'
    });
  });
</script>

<script>
  $
</script>
{% endblock %}
