{% extends 'snippets/infinite_scroll_window.html' %}

{% block infinite-content %}
{% include 'snippets/search_bar.html' %}

{% if products %}
{% for product in products %}
<div class="row infinite-item product__wrapper">
  <div class="col-md-4 col-sm-12 product__image-wrapper">
    {% if product.image %}
    <img class="product__image" src="{{ product.image.url }}">
    {% else %}
    <img class="product__image" src="https://via.placeholder.com/400x321">
    {% endif %}
  </div>

  <div class="col-md-5 col-sm-12 product__details">
    <h5 class="display-4 product__header">{{ product.manufacturer|title }} - {{ product.human_readable_name|title }}</h5>
    <span class="product__id">Model: {{ product.model_number }}</span>
    <span class="product__id">Serial: {{ product.serial_number }} </span>
  </div>

  <div class="col-md-3 col-sm-12 px-3 product__controls ">
    <h5 class="product__status">{{ product.get_loan_status_display }}</h5>
    <p>Location - {{ product.warehouse }} Warehouse</p>

    {% if product.current_borrower %}
    <p><b>Borrowed By:</b> {{ product.current_borrower.first_name }} {{ product.current_borrower.last_name }}</p>
    {% endif %}

    {% if product.loan_status == "a" %}
    <a class="button button--sea" href="{% url 'product-borrow' product.pk %}">Borrow Unit</a>

    {% elif product.loan_status == "o" and user == product.current_borrower %}
    <a class="button button--tomato" href="{% url 'return-redirect' product.pk %}">Return Unit</a>

    {% else %}
    <a class="button button--unavailable">Unavailable</a>
    {% endif %}

    {% if request.user.is_superuser %}
    <div class="product__admin">
        <div><a class="button button--gold" href="{% url 'product-update' product.pk %}">Update</a></div>
        <div><a class="button button--delete" href="{% url 'product-delete' product.pk %}">Delete</a></div>

    </div>
    {% endif %}

  </div>

</div>
{% endfor %}

{% else %}
{% include 'snippets/none_borrowed.html' %}
{% endif %}
{% endblock %}

