{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row pt-5">
  <div class="col title">
    <h2 class="display-4">Select a Warehouse Manager</h2>
    <h5 class="text--gold">Give user warehouse manager permissions</h5>
  </div>
</div>

<div class="row justify-content-md-center text-light pt-4">
  <div class="col-md-6 col-sm-12">
    <form method="post" enctype="multipart/form-data" action="{% if from %}?next={{ from }}{% endif %}">
      {% csrf_token %}
      <div class="form-group">
      {{ form.manager|as_crispy_field }}
      </div>
      <div class="text-center pt-5">
        {% if form_type == "update" %}
        <button type="submit" class="button button--gold">Update</button>
        {% else %}
        <button type="submit" class="button button--gold">Create</button>
        {% endif %}
      </div>
    </form>
  </div>
</div>

{% if form.subject.errors %}
    <ol>
    {% for error in form.subject.errors %}
        <li><strong>{{ error|escape }}</strong></li>
    {% endfor %}
    </ol>
{% endif %}
{% endblock %}
