{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">

    <table class=" table log__table">
      <thead class="log__head">
        <tr class="data__column-names">
          <th scope="col">Borrower</th>
          <th scope="col">Name</th>
          <th scope="col">Model</th>
          <th scope="col">Borrowed</th>
          <th scope="col">Rental End</th>
          <th scope="col">Returned</th>
          <th scope="col">Returned To</th>
          <th scope="col">Details</th>
        </tr>
      </thead>
      <tbody>
      {% for rental in rentals %}
      <tr class="data__row">
        <td scope="row" class="{% cycle 'data__cell data__cell--grey' 'data__cell'%}">
          {{ rental.borrower }}
        </td>
        <td scope="row" class="{% cycle 'data__cell data__cell--grey' 'data__cell'%}">{{ rental.product.human_readable_name }}</td>
        <td scope="row" class="{% cycle 'data__cell data__cell--grey' 'data__cell'%}">{{ rental.product.serial_number }}</td>
        <td scope="row" class="{% cycle 'data__cell data__cell--grey' 'data__cell'%}">{{ rental.requested|date:"m/d/y" }}</td>
        <td scope="row" class="{% cycle 'data__cell data__cell--grey' 'data__cell'%}">{{ rental.rental_end|date:"m/d/y" }}</td>
        <td scope="row" class="{% cycle 'data__cell data__cell--grey' 'data__cell'%}">{{ rental.returned|date:"m/d/y" }}</td>
        <td scope="row" class="{% cycle 'data__cell data__cell--grey' 'data__cell'%}">{{ rental.returned_to }} Warehouse</td>
        <td scope="row" class="{% cycle 'data__cell data__cell--grey' 'data__cell'%}">
          <a class="button button--available" href="#">Details</a>
        </td>

      </tr>

      <div class="log__details {% cycle 'data__cell--grey' 'data__cell' %}">
        <td scope="row" class="data__serial" colspan="8">{{ rental.return_note }}</td>
      </div>


      {% endfor %}
      </tbody>


    </table>

    <div class="pagination">
      <span class="pagination__step-links">
          {% if page_obj.has_previous %}
              <a class="pagination__first" href="?page=1">&laquo; first</a>
              <a class="pagination__previous" href="?page={{ page_obj.previous_page_number }}">previous</a>
          {% endif %}

          <span class="pagination__current">
              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
          </span>

          {% if page_obj.has_next %}
              <a class="pagination__next" href="?page={{ page_obj.next_page_number }}">next</a>
              <a class="pagination__last" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
          {% endif %}
      </span>
    </div>

  </div>
</div>






{% endblock %}
