{% extends 'base.html' %}

{% block content %}
  <div class="row">
  <div class="table-responsive-md">
    <table class="table text-light">
      <caption>Log of products rented</caption>
      <thead>
        <tr>
          <th scope="col">Borrower</th>
          <th scope="col">Product</th>
          <th scope="col">Model</th>
          <th scope="col">Borrowed</th>
          <th scope="col">Due</th>
          <th scope="col">Returned</th>
          <th scope="col">Returned To</th>
          <th scope="col">Notes</th>
        </tr>
      </thead>
      <tbody class="infinite-container">
      {% for rental in rentals %}
      <!-- Modal -->
      {% include 'manager/rental_history_modal.html' %}

      <tr class="infinite-item">
        <td scope="row" class="{% cycle 'bg-dark' 'bg-light text-dark'%}">
          {{ rental.borrower }}
        </td>
        <td scope="row" class="{% cycle 'bg-dark' 'bg-light text-dark'%}">{{ rental.product.human_readable_name }}</td>
        <td scope="row" class="{% cycle 'bg-dark' 'bg-light text-dark'%}">{{ rental.product.serial_number }}</td>
        <td scope="row" class="{% cycle 'bg-dark' 'bg-light text-dark'%}">{{ rental.requested|date:"m/d/y" }}</td>
        <td scope="row" class="{% cycle 'bg-dark' 'bg-light text-dark'%}">{{ rental.rental_end|date:"m/d/y" }}</td>
        <td scope="row" class="{% cycle 'bg-dark' 'bg-light text-dark'%}">{{ rental.returned|date:"m/d/y" }}</td>
        <td scope="row" class="{% cycle 'bg-dark' 'bg-light text-dark'%}">{{ rental.returned_to }} Warehouse</td>
        <td scope="row" class="{% cycle 'bg-dark' 'bg-light text-dark'%}">
          <button class="button button--sea" data-toggle="modal" data-target="#loanlog__modal{{ forloop.counter }}">Notes</button>
        </td>

      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
     <div class="loading" style="display: none;">
    Loading...
 </div>

  {% if page_obj.has_next %}
    <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}">More</a>
  {% endif %}


</div>

{% endblock %}

{% block javascript %}
  <script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        $('.loading').show();
      },
      onAfterPageLoad: function ($items) {
        $('.loading').hide();
      }
    });
  </script>
{% endblock %}
