{% load static i18n %}
<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-white navbar__nav">
  <div class="container">
  <a class="navbar-brand" href="{% url 'all-products' %}"><img src="{% static 'images/prokeeperlogo.png' %}" style="width:175px; height: auto;"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto mx-auto">
      {% if request.user.is_authenticated %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'all-products' %}">Products</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'borrowed' %}">My Rentals</a>
          <a class="dropdown-item" href="{% url 'users:detail' request.user %}">Account</a>
        </div>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'account_login' %}">Login</a>
      </li>
      {% endif %}

      {% if perms.add_product %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Admin
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {% if perms.product.add_product %}
          <a class="dropdown-item" href="{% url 'product-create' %}">Create Product</a>
          {% endif %}

          <a class="dropdown-item" href="{% url 'rental-history' %}">Rental Log</a>

          {% if perms.manufacturer.add_manufacturer %}
          <a class="dropdown-item" href="{% url 'manufacturer-list' %}">Manufacturers</a>
          {% endif %}

          {% if perms.warehouse.add_warehouse %}
            <a class="dropdown-item" href="{% url 'warehouse-list' %}">Warehouses</a>
          {% endif %}

        </div>
      </li>
      {% endif %}

      {% if request.user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
      </li>
      {% endif %}

    </ul>
  </div>
  </div>
</nav>
