a {
  color: #40bcd8;
}

.content__container {
  margin-top: 175px;
}

body {
  background-color: #003f51;
}

.title {
  text-align: center;
  color: white;
}

.bg--gold {
  background-color: #f39237;
}

.text--gold {
  color: #f39237;
}

/* Product List */
.product__wrapper {
  min-height: 275px;
  margin-top: 1px;
  background-color: #002b38;
  color: white;
}

.product__details {
  padding-top: 1rem;
  text-align: left;
}

.product__id {
  display: block;
}

.product__image-wrapper {
  padding: 0;
  margin: 0;
}

.product__image {
  width: 100%;
  height: auto;
}

.product__update {
  font-size: 0.75rem;
}

.product__controls {
  padding-top: 1rem;
  text-align: center;
}

.product__header {
  font-size: 2em;
  color: #f39237;
}


@media (max-width: 800px) {
  .product__wrapper {
    min-height: 300px;
    padding-bottom: 5%;
  }

  .product__details {
    text-align: center;
    padding: 1rem 1rem;
    width: 100%;
  }

}

/* Return */

.return__date-info {
  text-align: center;
  padding-bottom: 2rem;
}

.return__info {
  color: black;
  text-align: center;
}

.return__date-start {
  font-size: 2rem;
}

.return__button {
  padding: 0.5rem 4rem;
  border-radius: 1px;
}

/* Buttons */
.button {
  padding: 0.75rem;
  overflow: hidden;
  display: inline-block;
  min-width: 150px;
  text-align: center;
  text-decoration: none;
  border: none;
}

.button:hover {
  box-shadow: inset 0 0 0 50px rgba(0, 0, 0, 0.2);
  color: inherit;
  text-decoration: none;
}

.button--unavailable {
  background-color: #5e5f60;
  color: white;
}

.button--sea {
  background-color: #08a3cf;
  color: white;
}

.button--tomato {
  background-color: #d63230;
  color: white;
}

.button--borrow {
  background-color: #1a6fef;
  color: white;
}

.button--gold {
  background-color: #f39237;
  color: black;
}

.button--delete {
  background-color: black;
  color: red;
}

/* Navbar */
.navbar__nav {
  padding: 55px;
}


/* Create & Update Product */
.update__related {
  display: inline-flex;
  align-items: center;
}

.update__related-icon {
  text-decoration: none;
  color: #f39237;
}

.update__related-icon:hover {
  color: #b2830c;
}

.update__related-text {
  padding-left: 0.75rem;
}


/* Delete Product */
.delete__form-wrapper {
  text-align: center;
  background-color: #d63230;
  color: white;
  padding: 2rem 0;
}

.delete__header-text {
  text-align: center;
}

.delete__header {
  padding: 2rem 0;
  color: white;
}

/* login page */
.login__logo {
 text-align: center;
 background-color: #d63230;
 color: white;
 font-size: 2.5rem;
 padding: 2rem 3rem;
}

/* Alerts */
.alert__message {
  position: fixed;
  bottom: 0%;
  width: 100%;
  text-align: center;
  background-color: #08a3cf;
  color: white;
  padding: 1rem 0;
  z-index: 10;
}

/* Empty Place Holder for No Products in List */
.empty__wrapper {
  text-align: center;
}

.empty__icon {
  color: #f39237;
  padding: 2rem 0;
}

/* IE Work Arounds INCOMPLETE */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
     /* IE10+ CSS styles go here */

}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

