{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block inner %}
<div class="col-12 reset__wrapper">
    <div class="reset__info">
      <h1 class="display-3 reset__header">{% trans "Password Reset" %}</h1>
      {% if user.is_authenticated %}
      {% include "account/snippets/already_logged_in.html" %}
      {% endif %}
      <h5 class="reset__sub-header">{% trans "Forgotten your password?" %}</h5>
      <p>{% trans "Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
    </div>
    <div class="reset__form-wrapper">
      <form method="POST" action="{% url 'account_reset_password' %}" class="reset__form">
          {% csrf_token %}
          {{ form.email|as_crispy_field }}
        <div class="reset__submit">
          <input class="button button--available" type="submit" value="{% trans 'Reset My Password' %}" />
          <p class="reset__help">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
        </div>
      </form>
    </div>

  </div>
{% endblock %}

