{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner %}

<div class="row pt-5">
  <div class="col title py-5">
    <h1 class="display-4">{% trans "Change Password" %}</h1>
  </div>
</div>

<div class="row justify-content-md-center text-light">
  <form method="POST" action="{% url 'account_change_password' %}" class="password_change col-md-6 col-sm-12">
      {% csrf_token %}
      {{ form|crispy }}
    <div class="text-center pt-4">
      <button class="button button--gold" type="submit" name="action">{% trans "Change Password" %}</button>
    </div>
  </form>

</div>



{% endblock %}

