{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block inner %}
<div class="row pt-md-5 pt-sm-1">
  <div class="col title">
      <h1>{% trans "Set Password" %}</h1>
        <form method="POST" action="{% url 'account_set_password' %}" class="password_set pt-4">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="text-center pt-5">
          <input type="submit" name="action" class="button button--gold" value="{% trans 'Set Password' %}"/>
        </div>
    </form>
  </div>
</div>



{% endblock %}

