{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner %}
<div class="col-12 messaging__outer">


</div>


<div class="col-12 messaging__outer">
    <div class="messaging__title">
      <h1 class="display-4">{% trans "Change Password" %}</h1>
      <p>{% trans 'Your password is now changed.' %}</p>

      <div class="messaging__instruction">
          <i class="far fa-thumbs-up fa-4x"></i>
      </div>
    </div>
</div>
{% endblock %}

