<div class="navbar__container">
  <div class="navbar__wrapper">


    <nav class="navbar">

      <!--<i class="fas fa-bars fa-2x navbar__hamburger"></i>-->

      <div class="navbar__search">
        <!--<div class="navbar__logo">-->
          <!--<i class="fas fa-robot fa-5x navbar__icon"></i>-->
        <!--</div>-->

        <div class="navbar__searchbar">
          <form>
          <input class="navbar__input" type="text" name="q" placeholder="Search demo units..">
          </form>
        </div>
      </div>

      <div class="navbar__links">
        <div class="navbar__link"><a href="{% url 'all-products' %}">All Products</a></div>
        <div class="navbar__link"><a href="{% url 'borrowed' %}">My Products</a></div>
        <div class="navbar__link"><a>Account</a></div>
      </div>


    </nav>
  </div>
</div>
